/* Fonts */

@font-face {
  font-family: 'helioscondcregular';
  src: url('../fonts/helioscondc-webfont.eot');
  src: url('../fonts/helioscondc-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helioscondc-webfont.woff2') format('woff2'),
  url('../fonts/helioscondc-webfont.woff') format('woff'),
  url('../fonts/helioscondc-webfont.ttf') format('truetype'),
  url('../fonts/helioscondc-webfont.svg#helioscondcregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HeliosCondC';
  src: url('../fonts/HeliosCondC.eot');
  src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeliosCondC.woff2') format('woff2'),
  url('../fonts/HeliosCondC.woff') format('woff'),
  url('../fonts/HeliosCondC.ttf') format('truetype'),
  url('../fonts/HeliosCondC.svg#HeliosCondC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCondCBold';
  src: url('../fonts/HeliosCondC-Bold.eot');
  src: url('../fonts/HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeliosCondC-Bold.woff2') format('woff2'),
  url('../fonts/HeliosCondC-Bold.woff') format('woff'),
  url('../fonts/HeliosCondC-Bold.ttf') format('truetype'),
  url('../fonts/HeliosCondC-Bold.svg#HeliosCondCBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  color: @white;
  font-family: Verdana;
  font-size: 13px;
}

/* Colours */
@red: #b8152d;
@blue: #0b2654;
@white: #fff;
@dark-red: #810e1f;
@dark-grey: #333333;
@black: #000;
@light-grey: #e1e1e1;

.red-color {color: @red;}
.blue-color {color: @blue;}


.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transition(@param: ease-in-out .3s) {
  -webkit-transition: @param;
  -moz-transition: @param;
  -ms-transition: @param;
  -o-transition: @param;
  transition: @param;
}

a {
  .transition(ease-in-out .3s);
}

.clearfix {
  width: 100%;
}

.c-hr {
  border: 0;
  color: #657083;
  background-color: #657083;
  height: 1px;
}
.top-panel {
  background: @red;
  height: 90px;
  width: 100%;
  .bud-logo {
    margin-top: 10px;
    img {
//      width: 100%;
//      max-width: 287px;
    }
  }
  .auth {
    text-align: right;
    font: normal 18px/16px HeliosCondCBold;
    margin-top: 25px;
    text-transform: uppercase;
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      &:before {
        content: " | ";
        padding-right: 15px;
      }
      &:last-child:after {
        content: " | ";
        padding-left: 15px;
      }
    }
    a {
      text-decoration: none;
      color: @white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.registration {
  display: none;
  text-transform: uppercase;
  .registration-head{
    background: @blue;
    padding: 10px 0;
    h1 {
      font: bold 42px/42px HeliosCondCBold;
    }
    .close-button {
      text-align: right;
      margin-top: 20px;
    }
  }
  .registration-body {
    padding-bottom: 20px;
    .registration-form {
      input {
        width: 100%;
        margin-bottom: 15px;
      }
      //      input[type=radio] {
      //        float: left;
      //    }
      margin-bottom: 70px;
    }
    background: #252525;
    font: normal 12px/12px HeliosCondCBold;
    color: #a1a1a1;
    letter-spacing: 1px;
    h1 {
      font-size: 20px;
      color: @white;
      margin-left: 15px;
    }
    .reg-confirm {
      width: 100%;
      text-transform: uppercase;
      background: @red;
      font-size: 20px;
      letter-spacing: 4px;
      text-align: center;
      padding: 15px 0;
      display: inline-block;
      color: @white;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }

    }
    .reg-policy {
      //      margin-left: -30px;
    }
  }
}

.top-menu {
  margin-left: -75px;
  font: normal 20px/20px HeliosCondCBold;
  text-transform: uppercase;
  border-bottom: 1px solid #ababab;
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
  li {
    display: inline-block;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    &:first-child {
      margin-left: -15px;
    }
  }
  a {
    text-decoration: none;
    color: @red;
    &:hover {
      opacity: 0.7;
    }
  }
  .menu-active {
    background: @blue;
    color: @white;
    a {
      color: @white;
    }
  }
  .fb-button {
    position: relative;
    right: -30px;
    top: 10px;
    text-align: right;
  }
}

.secondary-menu {
  background: @black;
  font: bold 16px/16px HeliosCondC;
  text-transform: uppercase;
  margin-left: -65px;
  top: -1px;
  position: relative;
  ul{
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: 0;
  }
  li {
    display: inline-block;
    padding-right: 30px;
  }
  a {
    color: @white;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.page-title {
  .gt-name {
    padding-top: 20px;
  }
  h1 {
    color: @red;
    font: normal 42px/0px HeliosCondCBold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 25px;
    letter-spacing: -0.6px;
  }
  .gt-month {
    color: #707070;
    font: normal 22px/52px HeliosCondC;
    text-transform: uppercase;
    position: relative;
    top: 3px;
  }
  .gt-share {
    font: normal 21px/52px HeliosCondC;
    background: #a1a1a1;
    margin-left: -15px;
    position: relative;
    right: 15px;
    width: 262px;
    top: 18px;
    a {
      padding-right: 30px;
      background: #a1a1a1;
      display: inline-block;
      color: @white;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      background: url("../images/fb_share.png") no-repeat top right;
      background-position: 210px 8px;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}

.mood {
  background: @blue;
  height: 470px;
  .mood-menu {
    a {
      margin-top: 1px;
      margin-left: 2px;
      font: normal 25px/21px HeliosCondCBold;
      display: block;
      width: 290px;
      height: 58px;
      text-transform: uppercase;
      color: @white;
      border: 1px solid @white;
      padding: 20px 0 0 40px;
      border-top: none;
      border-right: 0;
      background: url("../images/q.png") no-repeat right 20px;
      background-position: 260px 15px;
      &:hover {
        background: url("../images/q_blue.png") no-repeat;
        background: @white;
        color: @blue;
        text-decoration: none;
        background-position: 260px 15px;
      }
      &:focus {
        background: @white;
        color: @blue;
        text-decoration: none;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .mood-picture {
    font: normal 37px/37px HeliosCondCBold;

    .mood-text {
      width: 50%;
      text-align: left;
      text-transform: uppercase;
      margin-left: -70px;
      .lifehack {
        font: normal 27px/27px HeliosCondC;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .mood-arrow {
        background: url("../images/sm-mood-arrow.png") no-repeat;
        width: 20px;
        height: 81px;
        float: left;
        margin-right: 10px;
        margin-top: 8px;
      }
      .order-ticket {
        display: inline-block;
        width: 251px;
        height: 47px;
        background: @red;
        opacity: 0.7;
        font: normal 16px/45px HeliosCondC;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #82838a;
        color: @white;
        margin-bottom: 30px;
        &:hover {
          color: @white;
          text-decoration: none;
          opacity: 1;
        }
      }
      .slider-fb-share {
        display: inline-block;
        width: 251px;
        height: 47px;
        background: @blue;
        opacity: 0.7;
        font: normal 16px/45px HeliosCondC;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #82838a;
        color: @white;
        margin-bottom: 30px;
        &:hover {
          color: @white;
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }
}

.fb-stream {
  background: @red;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  h1 {
    font: normal 42px/42px HeliosCondCBold;
    color: @white;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 20px 0;
  }
  .fb-message {
    overflow: hidden;
    background: @dark-red;
    min-height: 100px;
    min-width: 50px;
    padding: 25px;
    margin-bottom: 30px;
    .message_header {
      height: 40px;
      .fb-logo {
        float: left;
        background: url("../images/fb_logo.png") no-repeat;
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }
      .fb-page {
        font-size: 16px;
        font-weight: bold;
        float: left;
        padding-top: 10px;
        a {
          text-decoration: none;
          color: @white;
          position: absolute;
        }
      }
    }
    .message_body {
      margin-top: 5px;
      a {
        color: #ffff4c;
        display: inline-block;
      }
    }
    .fb-info {
      position: absolute;
      padding-right: 40px;
      height: 21px;
      right: 30px;
      background: url("../images/fb_stream_button.png") no-repeat right;
      a {
        color: @white;
      }
    }
  }
  .small-block {
    height: 264px;
    .message_header {
      .fb-page {
        padding-top: 0;
        line-height: 20px;
      }
    }
  }

  .fb-message-pic {
    img {
      width: 100%;
      height: 100%;
    }
    margin-bottom: 30px;
    position: relative;
    min-height: 200px;
    .fb-logo-big {
      background: url("../images/fb_stream_button_big.png") no-repeat;
      height: 34px;
      width: 34px;
      position: absolute;
      right: 13px;
      bottom: 10px;
    }
  }
}

.read-more-button {
  position: relative;
  .fb-more {
    float: right;
    bottom: -25px;
    min-width: 263px;
    height: 52px;
    display: inline-block;
    background: @blue;
    text-align: center;
    color: @white;
    font: normal 22px/52px HeliosCondCBold;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.read-more {
  min-width: 263px;
  float: right;
  height: 52px;
  display: inline-block;
  background: @blue;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondCBold;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.video-block {
  .video-block-item {
    margin-bottom: 60px;
    img {
      width: 100%;
    }
  }


  h1 {
    font: normal 42px/42px HeliosCondCBold;
    color: @blue;
    padding: 10px 0 20px;
    margin-left: 15px;
  }
}

.page-footer {
  height: 45px;
  background: @blue;
  .disclaimer {
    font: normal 14px/14px HeliosCondCBold;
    text-transform: uppercase;
    text-align: right;
    padding-top: 20px;
  }
}

/* Our Bud */
.full_width_bg {
  width: 100%;
  padding: 0;
}

.red-body {
  height: 100%;
  width: 100%;
  background: @red;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  .bud-story {
    margin-bottom: 30px;
    .bud-story-text {
      background: @dark-grey;
      font: normal 16px/16px HeliosCondC;
      padding: 15px;
      position: relative;
      top: 0;
      z-index: 1;
    }
    .bud-story-image {
      margin-top: 30px;
      width: 100%;
      position: relative;
      img {
        max-width: 100%;
      }
      .bud-story-title {
        opacity: 0;
      }
      &:hover {
        .bud-story-title {
          position: absolute;
          bottom: 0px;
          color: #FFF;
          font: 28px/47px HeliosCondC;
          text-transform: uppercase;
          text-align: center;
          opacity: 1;
          background: @blue;
          .transition(all 0.0s ease 0s);
          .transition(ease 0.1s);
        }
      }
    }
  }
  .bud-story-more {
    text-transform: uppercase;
    font: normal 19px/19px HeliosCondC;
    a {
      color: @blue;
    }
  }
}
.our-bud {
  .our-bud-heading {
    font: bold 30px/30px HeliosCondC;
    text-transform: uppercase;
    background: @blue;
    text-align: center;
    padding: 15px 0;
  }
  .our-bud-specs {
    background: @red;
    text-align: center;
    padding: 15px 0;
    font: normal 22px/22px HeliosCondC;
    span {
      font: normal 82px/82px HeliosCondC;
    }
  }
}

.our-bud-about {
  text-transform: uppercase;
  font: bold 18px/20px HeliosCondC;
  color: #636363;
  margin-top: 30px;
}

.overlay-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  background: @black;
  opacity: 0.6;
}

.wishwall {
  padding: 0;
  margin-bottom: 25px;
  img {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .wish {
    z-index: 1;
    .wish-plus {
      display: none;
    }
    .wish-checked {
      display: none;
    }
    .wish-fb {
      display: none;
    }
    &:hover {
      .wish-plus {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        bottom: 0;
        right: 15px;
      }
      .wish-checked {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        bottom: 0;
        right: 15px;
      }
      .wish-fb {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        top: 0;
        right: 15px;
      }
    }
  }
  .wish-done {
    display: none;
    background: url("../images/wish_done_.png") no-repeat;
    width: 263px;
    height: 263px;
    z-index: 2;
    position: absolute;
    bottom: 0;
  }

  p {
    font: bold 22px/22px HeliosCondC;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 250px;
    padding-left: 10px;
    letter-spacing: -1px;
  }
  h1 {
    font: normal 26px/26px HeliosCondC;
    text-transform: uppercase;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.big-fb-share {
  .fb-share {
    display: inline-block;
    border: 1px solid #dd8f9b;
    background: #860f21;
    font: normal 24px/26px HeliosCondC;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    letter-spacing: 2px;
    color: @white;
    background: url("../images/fb_share.png") no-repeat top right;
    background-position: 221px 4px;
    &:hover {
      text-decoration: none;
      color: @white;
      opacity: 0.7;
      background: url("../images/fb_share.png") no-repeat top right;
      background-position: 221px 4px;

    }
  }
}

.edit-dreams {
  width: 100%;
  height: 52px;
  display: inline-block;
  background: @blue;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondC;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}


.save-dreams {
  padding: 0 70px;
  height: 52px;
  display: inline-block;
  background: @black;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondC;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: @white;
  }
}

.great-times {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 300px;
  }
  .gt-header {
    background: @light-grey;
    color: #555555;
    font: normal 16px/16px HeliosCondC;
    height: 300px;
    margin-left: -15px;
    h1 {
      color: #c3002f;
      font: normal 26px/26px HeliosCondC;
      text-transform: uppercase;
    }
  }

}

.great-times-blocks {
  a {
    .transition(ease-in-out 0s);
  }
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  .gt-block {
    display: block;
    background: @light-grey;
    color: #555555;
    font: normal 15px/15px HeliosCondC;
    padding: 10px;
    h1 {
      color: #c3002f;
      font: normal 22px/22px HeliosCondC;
      text-transform: uppercase;
    }
    &:hover, &:hover h1 {
      text-decoration: none;
      background: @red;
      color: @white;
    }
    &:hover .gt-down {
      background: url('../images/gt_down_red.png');
    }

    &:hover .gt-up {
      background: url('../images/gt_up_red.png');
    }

  }
  .gt-up {
    background: url("../images/gt_up.png") no-repeat top center;
    height: 37px;
    width: 43px;
    position: absolute;
    left: 129px;
    top: 179px;
  }
  .gt-down {
    background: url("../images/gt_down.png") no-repeat top center;
    height: 37px;
    width: 43px;
    position: absolute;
    left: 129px;
    bottom: 179px;
  }
}

.gt-pagination {
  background: @light-grey;
  height: 30px;
  margin-bottom: 30px;
  .gt-pagination-year {
    font: normal 18px/32px HeliosCondC;
    color: @red;
    padding-left: 15px;
    float: left;
  }
  .gt-pagination-month{
    font: normal 14px/28px HeliosCondC;
    float: left;
    background: @red;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 1px 15px;
    letter-spacing: 1px;
  }
  .gt-pagination-old {
    float: right;
    font: normal 18px/32px HeliosCondC;
    color: @red;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sm-mood {
  background: url("../images/mood_03.jpg") no-repeat;
  width: 100%;
  height: 451px;
  font: normal 37px/37px HeliosCondCBold;
  text-transform: uppercase;
  padding-top: 80px;
  padding-left: 5px;

  .rect {
    position: absolute;
    bottom: 0;
    margin-left: -5px;
    padding-right: 15px;
    .sm-mood-menu {
      display: none;
      height: 455px;
      position: absolute;
      background: @blue;
      bottom: 0;
      right: 7px;
      z-index: 2;
      padding-right: 0;
      a {
        margin-top: 1px;
        margin-left: 2px;
        font: normal 25px/21px HeliosCondCBold;
        display: block;
        height: 56px;
        text-transform: uppercase;
        color: @white;
        border: 1px solid @white;
        padding: 20px 0 0 40px;
        border-top: none;
        border-right: 0;
        border-left: 0;
        background: url("../images/q.png") no-repeat right;
        background-position: 650px 15px;
        &:hover {
          background: url("../images/q_blue.png") no-repeat;
          background: @white;
          color: @blue;
          text-decoration: none;
          background-position: 650px 15px;

        }
      }
    }
  }
}
.xs-menu {
  margin-top: 20px;
  z-index: 4;
  padding-left: 50px;
}
.xs-menu-items {
  margin-top: 6px;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
    }
  }

  background: @black;
  z-index: 1;
  a {
    width: 100%;
    display: block;
    height: 55px;
    font: bold 24px/56px HeliosCondC;
    color: @white;
    padding-left: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid @white;
    &:hover {
      text-decoration: none;
      background: @blue;
    }
  }
}
.xs-menu-auth {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
    }
  }

  background: #252525;
  z-index: 1;
  a {
    width: 100%;
    display: block;
    height: 55px;
    font: bold 24px/56px HeliosCondC;
    color: @white;
    padding-left: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid @white;
    &:hover {
      text-decoration: none;
      background: @blue;
    }
  }
  .fb {
    background: url("../images/fb_stream_button.png") no-repeat left;
    background-position-x: 10px;
    span {
      padding-left: 25px;
    }
    &:hover {
      background: url("../images/fb_stream_button.png") no-repeat left;
    }
  }
  .sm-mood .rect h1 {
    font: normal 23px/23px HeliosCondC;
  }

}

.bud-slider {
  width: auto;
  position: relative;
  height: 100%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  max-width: none;
}

.visible-xs {
  .great-times-xs {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: -30px;
    background: @light-grey;
    color: #555555;
    font: normal 18px/18px HeliosCondC;
    h1 {
      color: #c3002f;
      font: normal 24px/24px HeliosCondC;
      text-transform: uppercase;
      padding-top: 15px;
    }
    p {
      padding: 30px 0;
    }
  }
}

/* events */
.events-header {
  font: normal 26px/26px HeliosCondC;
  text-transform: uppercase;
}

.bud-events {
  img {
    width: 100%;
  }
  padding-bottom: 30px;
  height: 300px;
  border-bottom: 1px solid #c64457;
  margin-top: 30px;
  .bud-events-text {
    .be-date {
      color: #a1a1a1;
      font: normal 14px/14px HeliosCondC;
      text-transform: uppercase;
    }
    .be-title {
      font: normal 30px/30px HeliosCondC;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 15px;
      a{
        color: @white;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .be-news {
      font: normal 18px/18px HeliosCondC;
      .be-news-big {
        font-size: 26px;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
.single-event {
  border: 0;
  img {
    width: 100%;
  }
}
.event-single-date {
  color: #cccccc;
  font: normal 18px/18px HeliosCondC;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.event-single {
  font: bold 42px/42px HeliosCondC;
  text-transform: uppercase;
  letter-spacing: -3px;
}








/* XS */
/* Small devices (tablets, 468px and up) */
@media (min-width: 468px) {
  .top-panel {
    height: 80px;
  }
.top-panel .bud-logo img {
//  width: 100%;
//  max-width: 180px;
}


  .our-bud-blocks {
    margin-bottom: 30px;
  }
  .page-title h1 {
    font-size: 30px;
  }
  .red-body .bud-story .bud-story-image {
    height: 126px;
  }

  .fb-stream {
    h1 {
      font-size: 30px;
      padding: 0;
    }
  }
  .page-title .gt-name h1 {
    font-size: 30px;
  }
  .page-title .gt-month {
    font-size: 18px;
    padding-top: 33px;
  }

  .great-times-xs {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: -30px;
    background: @light-grey;
    color: #555555;
    font: normal 18px/18px HeliosCondC;
    h1 {
      color: #c3002f;
      font: normal 24px/24px HeliosCondC;
      text-transform: uppercase;
      padding-top: 15px;
    }
    p {
      padding: 30px 0;
    }
  }

  .sm-mood .rect h1 {
    bottom: 0;
    position: absolute;
    margin-top: 45px;
    left: 10%;
    font: normal 23px/23px HeliosCondC;
    text-align: center;
    width: 500px;
  }
  .sm-mood {
    font-size: 30px;
  }
  .page-title h1 {
    font-size: 30px;
    line-height: 30px;
    padding: 0;
  }

  .secondary-menu {
    margin-left: -40px;
  }

  .video-block h1 {
    font-size: 30px;
    line-height: 0;
  }
  .video-block .video-block-item {
    margin-bottom: 20px;
  }
//  .row {
//    margin-left: 0;
//    margin-right: 0;
//    overflow-x: hidden;
//  }

}


/* SM */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

  .sm-mood {
    font-size: 27px;
  }

  .top-menu {
    height: 35px;
    line-height: 27px;
  }
  .page-title h1 {
    padding: 10px 0;
  }
  .page-title .gt-name h1 {
    font-size: 40px;
  }
  .page-title .gt-month {
    padding-top: 35px;
    margin-left: -25px;
  }
  .page-title .gt-share {
    margin-top: 20px;
  }
  .sm-mood .rect h1 {
    font-weight: normal;
  }
  .sm-mood .rect {
    margin-left: -4px;
  }


  .fb-stream {
    margin-bottom: 10px;
    h1 {
      font-size: 30px;
    }
  }
  .top-panel .auth {
    margin-top: 35px;
  }

  .fb-stream .fix-message {
    height: 170px;
  }
  .fb-stream .fix-pic {
    margin-top: -170px;
  }
  .fb-stream .small-block {
    height: 175px;
  }

  .read-more-button .fb-more {
    width: 100%;
  }

  .red-body .bud-story .bud-story-image {
    height: 234px;
  }

  .secondary-menu {
    font-size: 16px;
    line-height: 8px;
    margin-left: -70px;
    ul {
//      padding-top: 10px;
    }
    li {
      padding-top: 0;
    }
  }

  .top-menu .menu-active {
    padding-bottom: 6px;
  }

  .top-menu li {
    padding: 5px 15px 20px 15px;
  }

  .top-menu .fb-button {
    top: 2px;
  }

  .great-times-blocks .gt-down {
    left: 159px;
    bottom: 247px;
  }
  .great-times-blocks .gt-up {
    left: 169px;
    top: 247px;
  }

  .gt-sm-header {
    margin-left: 0;
    margin-bottom: 30px;
    margin-top: -30px;
    width: 100%;
    background: @light-grey;
    color: #555555;
    font: normal 16px/16px HeliosCondC;
    h1 {
      color: #c3002f;
      font: normal 24px/24px HeliosCondC;
      text-transform: uppercase;
      padding-top: 15px;
    }
    p {
      padding: 30px 0;
    }
    .gt-read-more {
      position: relative;
      bottom: -30px;
      background: @red;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font: normal 22px/50px HeliosCondC;
      color: @white;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    .gt-sm-up {
      background: url("../images/gt_up.png") no-repeat top center;
      height: 37px;
      width: 43px;
      position: absolute;
      left: 340px;
      top: -37px;
    }
  }

  .sm-mood {
    .rect {
      h1 {
        position: absolute;
        margin-top: 45px;
        left: 15%;
        bottom: 10px;
      }
    }
  }

  .video-block h1 {
    font-size: 30px;
    line-height: 0;
    padding-bottom: 30px;
  }
}


/* MD */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

  .fb-stream {
    margin-bottom: 5px;
    h1 {
      font-size: 36px;
      padding: 15px 0;
    }
    .fb-message {
      padding: 5px;
    }
    .small-block {
      height: 228px;
    }
  }
  .page-title {
    h1 {
      font-size: 36px;
      padding-top: 5px;
      padding-bottom: 15px;
    }
    .our-bud-title {
      font-size: 30px;
    }
  }
  .page-title .gt-name h1 {
    font-size: 36px;
  }
  .page-title .gt-month {
    padding-top: 35px;
    margin-left: -25px;
  }
  .page-title .gt-share {
    margin-top: 20px;
  }
  .secondary-menu {
    margin-left: -72px;
  }
  .mood .mood-picture .mood1 .mood-text .lifehack {
    margin-top: -0px;
  }
  .read-more-button .fb-more {
    max-width: 213px;
  }

  .mood {
    height: 470px;
    .mood-menu {
      z-index: 1;
      margin-right: 15px;
      a {
        width: 240px;
        padding-right: 0;
        padding-left: 25px;
        font-size: 21px;
        height: 58px;
        background-position: 210px 15px;
        &:hover {
          background: url("../images/q_blue.png") no-repeat;
          background: @white;
          color: @blue;
          text-decoration: none;
          background-position: 210px 15px;
        }
      }
    }
  }

  .fb-stream .fix-message {
    height: auto;
    margin-top: -14px;
  }
  .fb-stream .fix-pic {
    margin-top: 2px;
  }
  .fb-stream .small-block {
    height: 213px;
  }
  .fb-stream .fix-top-message {
    height: auto;
    margin-top: -11px;
  }

  .red-body .bud-story .bud-story-image {
    height: 305px;
  }

  .read-more-button .fb-more {
    width: 100%;
    min-width: 100px;
    font-size: 17px;
  }
  .video-block h1 {
    font-size: 36px;
    padding: 25px 0;
  }
  .video-block .video-block-item {
    margin-bottom: 30px;
  }
}


/* LG */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .red-body .bud-story .bud-story-image {
    height: 370px;
  }
  .secondary-menu {
    margin-left: -95px;
  }
  .page-title h1 {
    font-size: 42px;
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 32px;
  }
  .page-title .gt-name h1 {
    font-size: 42px;
  }
  .page-title .gt-month {
    margin-left: -45px;
  }

  .fb-stream h1 {
    font-size: 42px;
    padding: 15px 0;
  }
  .fb-stream .fix-message {
    height: auto;
    margin-top: -4px;
  }
  .fb-stream .fix-pic {
    margin-top: 1px;
  }
  .fb-stream .small-block {
    height: 261px;
  }
  .fb-stream .fix-top-message {
    height: auto;
    margin-top: -9px;
  }
  .video-block h1 {
    font-size: 42px;
    padding: 25px 0 35px 0;
  }
  .video-block .video-block-item {
    margin-bottom: 40px;
  }
}
