/* Fonts */

@font-face {
  font-family: 'helioscondcregular';
  src: url('../fonts/helioscondc-webfont.eot');
  src: url('../fonts/helioscondc-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helioscondc-webfont.woff2') format('woff2'),
  url('../fonts/helioscondc-webfont.woff') format('woff'),
  url('../fonts/helioscondc-webfont.ttf') format('truetype'),
  url('../fonts/helioscondc-webfont.svg#helioscondcregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HeliosCondC';
  src: url('../fonts/HeliosCondC.eot');
  src: url('../fonts/HeliosCondC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeliosCondC.woff2') format('woff2'),
  url('../fonts/HeliosCondC.woff') format('woff'),
  url('../fonts/HeliosCondC.ttf') format('truetype'),
  url('../fonts/HeliosCondC.svg#HeliosCondC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosCondCBold';
  src: url('../fonts/HeliosCondC-Bold.eot');
  src: url('../fonts/HeliosCondC-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HeliosCondC-Bold.woff2') format('woff2'),
  url('../fonts/HeliosCondC-Bold.woff') format('woff'),
  url('../fonts/HeliosCondC-Bold.ttf') format('truetype'),
  url('../fonts/HeliosCondC-Bold.svg#HeliosCondCBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  color: @white;
  font-family: Verdana;
  font-size: 13px;
}

/* Colours */
@red: #b8152d;
@blue: #0b2654;
@white: #fff;
@dark-red: #810e1f;
@dark-grey: #333333;
@black: #000;
@light-grey: #e1e1e1;

.red-color {color: @red;}
.blue-color {color: @blue;}


.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transition(@param: ease-in-out .3s) {
  -webkit-transition: @param;
  -moz-transition: @param;
  -ms-transition: @param;
  -o-transition: @param;
  transition: @param;
}

a {
  .transition(ease-in-out .3s);
}

.clearfix {
  width: 100%;
}

.c-hr {
  border: 0;
  color: #657083;
  background-color: #657083;
  height: 1px;
}
.top-panel {
  border: 1px solid @black;
  background: @red;
  height: 90px;
  width: 100%;
  .bud-logo {
    margin-top: 10px;
  }
  .auth {
    text-align: right;
    font: normal 18px/16px HeliosCondCBold;
    margin-top: 25px;
    text-transform: uppercase;
    ul {
      list-style-type: none;
    }
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      &:before {
        content: " | ";
        padding-right: 15px;
      }
      &:last-child:after {
        content: " | ";
        padding-left: 15px;
      }
    }
    a {
      text-decoration: none;
      color: @white;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.top-menu {
  height: 40px;
  margin-top: 10px;
  margin-left: -75px;
  font: normal 20px/26px HeliosCondCBold;
  text-transform: uppercase;
  border-bottom: 1px solid #ababab;
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding-right: 10px;
  }
  a {
    text-decoration: none;
    color: @red;
    &:hover {
      opacity: 0.7;
    }
  }
  .menu-active {
    background: @blue;
    color: @white;
    padding: 12px;
    margin-top: -10px;
    a {
      color: @white;
    }
  }
  .fb-button {
        position: relative;
        right: -30px;
    text-align: right;
  }
}

.secondary-menu {
  background: @black;
  font: bold 16px/16px HeliosCondC;
  text-transform: uppercase;
  margin-left: -65px;
  ul{
    list-style-type: none;
    padding-top: 10px;
  }
  li {
    display: inline-block;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  a {
    color: @white;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.page-title {
  h1 {
    color: @red;
    font: normal 42px/42px HeliosCondCBold;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: -0.6px;
  }
  .pad-fix {
    padding-left: 15px;
  }
  .gt-month {
    color: #707070;
    font: normal 22px/52px HeliosCondC;
    text-transform: uppercase;
    padding-top: 40px;
  }
  .gt-share {
    font: normal 21px/52px HeliosCondC;
    margin-top: 25px;
    background: #a1a1a1;
    margin-left: -15px;
    position: relative;
    right: 15px;
    a {
      background: #a1a1a1;
      display: inline-block;
      color: @white;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      background: url("../images/fb_share.png") no-repeat top right;
      background-position-y: 4px;
//      background-position-x: -15px;
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
}

.mood {
  background: @blue;
  height: 470px;
  .mood-menu {
    a {
      margin-top: 1px;
      margin-left: 2px;
      font: normal 25px/25px HeliosCondCBold;
      display: block;
      width: 290px;
      height: 58px;
      text-transform: uppercase;
      color: @white;
      border: 1px solid @white;
      padding: 20px 0 0 40px;
      border-top: none;
      background: url("../images/q.png") no-repeat right 20px;
      background-position-x: 260px;
      &:hover {
        background: @white;
        color: @blue;
        text-decoration: none;
      }
      &:focus {
        background: @white;
        color: @blue;
        text-decoration: none;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .mood-picture {
    font: normal 37px/37px HeliosCondCBold;

    .mood-text {
      width: 50%;
      text-align: left;
      text-transform: uppercase;
      margin-left: -70px;
      .lifehack {
        font: normal 27px/27px HeliosCondC;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .order-ticket {
        display: inline-block;
        width: 251px;
        height: 47px;
        background: @red;
        opacity: 0.7;
        font: normal 16px/45px HeliosCondC;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #82838a;
        color: @white;
        margin-bottom: 30px;
        &:hover {
          color: @white;
          text-decoration: none;
          opacity: 1;
        }
      }
      .slider-fb-share {
        display: inline-block;
        width: 251px;
        height: 47px;
        background: @blue;
        opacity: 0.7;
        font: normal 16px/45px HeliosCondC;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #82838a;
        color: @white;
        margin-bottom: 30px;
        &:hover {
          color: @white;
          text-decoration: none;
          opacity: 1;
        }
      }
    }
  }
}

.fb-stream {
  background: @red;
  //  height: 960px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  h1 {
    font: normal 42px/42px HeliosCondCBold;
    color: @white;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 20px 0;
  }
  .fb-message {
    overflow: hidden;
    background: @dark-red;
    min-height: 100px;
    min-width: 50px;
    padding: 25px;
    margin-bottom: 30px;
    .message_header {
      height: 40px;
      .fb-logo {
        float: left;
        background: url("../images/fb_logo.png") no-repeat;
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }
      .fb-page {
        font-size: 16px;
        font-weight: bold;
        float: left;
        padding-top: 10px;
        a {
          text-decoration: none;
          color: @white;
          position: absolute;
        }
      }
    }
    .message_body {
      margin-top: 5px;
      a {
        color: #ffff4c;
        display: inline-block;
      }
    }
    .fb-info {
      position: absolute;
      padding-right: 40px;
      height: 21px;
      right: 30px;
      background: url("../images/fb_stream_button.png") no-repeat right;
      a {
        color: @white;
      }
    }
  }
  .small-block {
    height: 264px;
    .message_header {
      .fb-page {
        padding-top: 0;
        line-height: 20px;
      }
    }
  }

  .fb-message-pic {
    img {
      width: 100%;
      height: 100%;
    }
    margin-bottom: 30px;
    position: relative;
    min-height: 200px;
    .fb-logo-big {
      background: url("../images/fb_stream_button_big.png") no-repeat;
      height: 34px;
      width: 34px;
      position: absolute;
      right: 13px;
      bottom: 10px;
    }
  }
}

.read-more-button {
  position: relative;
  .fb-more {
    float: right;
    bottom: -25px;
//        position: absolute;
    min-width: 263px;
    height: 52px;
    display: inline-block;
    background: @blue;
    text-align: center;
    color: @white;
    font: normal 22px/52px HeliosCondCBold;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.read-more {
  min-width: 263px;
  float: right;
  height: 52px;
  display: inline-block;
  background: @blue;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondCBold;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.video-block {
  .video-block-item {
    margin-bottom: 60px;
    img {
      width: 100%;
    }
  }


  h1 {
    font: normal 42px/42px HeliosCondCBold;
    color: @blue;
    padding: 20px 0;
    margin-left: 15px;
  }
}

.page-footer {
  height: 45px;
  background: @blue;
  .disclaimer {
    font: normal 14px/14px HeliosCondCBold;
    text-transform: uppercase;
    text-align: right;
    padding-top: 20px;
  }
}

/* Our Bud */
.red-body {
  height: 100%;
  width: 100%;
  background: @red;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  .bud-story {
    img {
      width: 100%;
    }
    margin-bottom: 30px;
    .bud-story-title {
      background: @blue;
      text-transform: uppercase;
      font: bold 28px/28px HeliosCondC;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    .bud-story-text {
      background: @dark-grey;
      font: normal 16px/16px HeliosCondC;
      padding: 15px;
    }
  }
  .bud-story-more {
    text-transform: uppercase;
    font: normal 19px/19px HeliosCondC;
    a {
      color: @blue;
    }
  }
}
.our-bud {
  .our-bud-heading {
    font: bold 30px/30px HeliosCondC;
    text-transform: uppercase;
    background: @blue;
    text-align: center;
    padding: 15px 0;
  }
  .our-bud-specs {
    background: @red;
    text-align: center;
    padding: 15px 0;
    font: normal 22px/22px HeliosCondC;
    span {
      font: normal 82px/82px HeliosCondC;
    }
  }
}

.our-bud-about {
  text-transform: uppercase;
  font: bold 18px/20px HeliosCondC;
  color: #636363;
  margin-top: 30px;
}



.wishwall {
  padding: 0;
  margin-bottom: 25px;
  img {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .wish {
    position: relative;
    z-index: 1;
    .wish-plus {
      display: none;
    }
    .wish-checked {
      display: none;
    }
    .wish-fb {
      display: none;
    }
    &:hover {
      .wish-plus {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        bottom: 0;
        right: 15px;
      }
      .wish-checked {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        bottom: 0;
        right: 15px;
      }
      .wish-fb {
        position: absolute;
        width: 44px;
        height: 44px;
        display: block;
        top: 0;
        right: 15px;
      }
    }
  }
  .wish-done {
    position: relative;
    background: url("../images/wish_done.png") no-repeat;
    z-index: 2;
  }

  p {
    font: bold 22px/22px HeliosCondC;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 210px;
    padding-left: 10px;
  }
  h1 {
    font: normal 26px/26px HeliosCondC;
    text-transform: uppercase;
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
}

.big-fb-share {
  .fb-share {
    display: inline-block;
    border: 1px solid #dd8f9b;
    background: #860f21;
    font: normal 24px/26px HeliosCondC;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    letter-spacing: 2px;
    color: @white;
    background: url("../images/fb_share.png") no-repeat top right;
    background-position-x: 221px;
    background-position-y: 4px;
    &:hover {
      text-decoration: none;
      color: @white;
      opacity: 0.7;
      background: url("../images/fb_share.png") no-repeat top right;
      background-position-x: 221px;
      background-position-y: 4px;

    }
  }
}

.edit-dreams {
  padding: 0 25px;
  height: 52px;
  display: inline-block;
  background: @blue;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondC;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}


.save-dreams {
  padding: 0 70px;
  height: 52px;
  display: inline-block;
  background: @black;
  text-align: center;
  color: @white;
  font: normal 22px/52px HeliosCondC;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: @white;
  }
}

.great-times {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: 300px;
  }
  .gt-header {
    background: @light-grey;
    color: #555555;
    font: normal 16px/16px HeliosCondC;
    height: 300px;
    margin-left: -15px;
    h1 {
      color: #c3002f;
      font: normal 26px/26px HeliosCondC;
      text-transform: uppercase;
    }
  }

}

.great-times-blocks {
  a {
    .transition(ease-in-out 0s);
  }
  margin-bottom: 30px;
  img {
    width: 100%;
  }
  .gt-block {
    display: block;
    background: @light-grey;
    color: #555555;
    font: normal 15px/15px HeliosCondC;
    padding: 10px;
    h1 {
      color: #c3002f;
      font: normal 22px/22px HeliosCondC;
      text-transform: uppercase;
    }
    &:hover, &:hover h1 {
      text-decoration: none;
      background: @red;
      color: @white;
    }
    &:hover .gt-down {
      background: url('../images/gt_down_red.png');
    }

    &:hover .gt-up {
      background: url('../images/gt_up_red.png');
    }

  }
  .gt-up {
    background: url("../images/gt_up.png") no-repeat top center;
    height: 37px;
    width: 43px;
    position: absolute;
    left: 129px;
    top: 179px;
  }
  .gt-down {
    background: url("../images/gt_down.png") no-repeat top center;
    height: 37px;
    width: 43px;
    position: absolute;
    left: 129px;
    bottom: 179px;
  }
}

.gt-pagination {
  background: @light-grey;
  height: 30px;
  margin-bottom: 30px;
  .gt-pagination-year {
    font: normal 18px/32px HeliosCondC;
    color: @red;
    padding-left: 15px;
    float: left;
  }
  .gt-pagination-month{
    font: normal 14px/28px HeliosCondC;
    float: left;
    background: @red;
    text-transform: uppercase;
    margin-left: 15px;
    padding: 1px 15px;
    letter-spacing: 1px;
  }
  .gt-pagination-old {
    float: right;
    font: normal 18px/32px HeliosCondC;
    color: @red;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sm-mood {
  background: url("../images/sm_mood.png") no-repeat;
  width: 100%;
  height: 451px;
  font: normal 37px/37px HeliosCondCBold;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 5px;

  .rect {
    position: absolute;
    bottom: 0;
    margin-left: -5px;
    padding-right: 15px;
    h1 {
      position: absolute;
      margin-top: 45px;
      font: normal 23px/23px HeliosCondCBold;
      bottom: 10%;
      left: 10%;
    }
  }
}
.xs-menu {
  margin-top: 30px;
}
.xs-menu-items {
  background: @black;
  z-index: 1;
  a {
    width: 100%;
    display: block;
    height: 55px;
    font: bold 24px/56px HeliosCondC;
    color: @white;
    padding-left: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid @white;
    &:hover {
      text-decoration: none;
      background: @blue;
    }
  }
}
  .xs-menu-auth {
    background: #252525;
    z-index: 1;
    a {
      width: 100%;
      display: block;
      height: 55px;
      font: bold 24px/56px HeliosCondC;
      color: @white;
      padding-left: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid @white;
      &:hover {
        text-decoration: none;
        background: @blue;
      }
    }
    .fb {
      background: url("../images/fb_stream_button.png") no-repeat left;
      background-position-x: 10px;
      span {
        padding-left: 15px;
      }
      &:hover {
        background: url("../images/fb_stream_button.png") no-repeat left;
      }
    }
    .sm-mood .rect h1 {
      font-size: 23px;
    }
  }






/* XS */
/* Small devices (tablets, 468px and up) */
@media (max-width: 468px) {
  .our-bud-blocks {
    margin-bottom: 30px;
  }
  .page-title {
    h1 {
      font: bold 30px/30px HeliosCondC;
    }
  }
  .page-title {
    h1 {
      font: bold 30px/30px HeliosCondC;
    }
  }

}


/* SM */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .page-title {
    h1 {
      font-size: 30px;
    }
  }
  .secondary-menu {
    margin-left: 15px;
    font: bold 24px/24px HeliosCondC;
  }

  .fb-stream {
    h1 {
      font-size: 30px;
    }
  }
  .top-panel .auth {
    margin-top: 35px;
  }
}



/* MD */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

  .fb-stream {
    h1 {
      font-size: 36px;
    }
    .fb-message {
      padding: 5px;
    }
    .small-block {
      height: 228px;
    }
  }
  .page-title {
    h1 {
      font-size: 36px;
    }
  }
  .mood .mood-picture .mood1 .mood-text .lifehack {
    margin-top: -0px;
  }
  .read-more-button .fb-more {
    max-width: 213px;
  }

  .mood {
    .mood-menu {
      a {
        font-size: 21px;
      }
    }
  }

}

/* LG */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
